@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
}
*,*::after,*::before{
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

body{
  font-family: 'Rubik',sans-serif;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.cursor{
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

ol,ul,li{
  list-style-type: none;
}
