@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  font-size: 18px;
  background-color: transparent;    /* Center slide text vertically */
  display: flex;
  justify-content: center;
}
